​<% if (title) {%>
    <h1>
        <%= title %>
    </h1>
<%} else {res.redirect('/')} %>

<%- messages() %>

<% if (errors) { %>
<ul class="message warning">
    <% errors.array().forEach(error=> { %>
    <li>
        <%= error.msg %>
    </li>
    <% }) %>
</ul>
<% } %>

<h1>Editing Inventory</h1>
<div id="registerContainer">
    <p>Confirm Deletion - The delete is permanent.</p>
    <form action="/inv/delete" method="post" id="deleteForm">
        <fieldset>
            <label for="invMake">Make</label>
            <input type="text" readonly <% if(locals.inv_make) { %> value="<%= locals.inv_make %>"<% } %> >
            <br>
            <label for="invModel">Model</label>
            <input type="text" readonly <% if(locals.inv_model) { %> value="<%= locals.inv_model %>"<% } %>>
            <br>
            <label for="invPrice">Price</label>
            <input type="text" readonly <% if(locals.inv_price) { %> value="<%= locals.inv_price %>"<% } %> >
            <br>
            <label for="invYear">Year</label>
            <input type="text" readonly <% if(locals.inv_year) { %> value="<%= locals.inv_year %>"<% } %> >
            <br>
            
            <input type="hidden" name="inv_id"
            <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"<% } %> >
            
            <button type="submit" disabled>Delete Vehicle</button>
        </fieldset>
    </form>
</div>